--extra-index-url https://download.pytorch.org/whl/cu128


## PyTorch and Torchvision will auto-select the correct CUDA build from the extra index
torch==2.8.0+cu128; sys_platform != 'darwin' 
torch==2.8.0; sys_platform == 'darwin'
torchvision

#torch==2.7.1+cu128; sys_platform != 'darwin' 
#torch==2.7.1; sys_platform == 'darwin'
#torchvision

#torchvision==0.22.1+cu128; sys_platform != 'darwin'
#torchvision==0.22.1; sys_platform == 'darwin'
#torchvision; sys_platform != 'darwin'
#torchvision; sys_platform == 'darwin'


## ONNX runtime variants based on OS and hardware
onnx==1.19.0
onnxruntime==1.22.1; sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-silicon==1.16.3; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-gpu==1.22.0; sys_platform != 'darwin'


## Core libraries or packages
numpy<3.0
#numpy==2.3.1 or #numpy<2.0
opencv-python-headless==4.12.0.88
psutil==7.0.0
tqdm==4.67.1


## Other utilities
ftfy
regex
pyvirtualcam


## InsightFace and Image augmentation
insightface==0.7.3
albumentations==2.0.8
albucore==0.0.24
#albucore


## Web UI and API
gradio==6.13.0
fastapi==0.116.1
pydantic==2.11.7







